.App {
  text-align: center;
}


.App-header {
  font-family: 'Rubik One', sans-serif;
  margin-top:  30px;
  min-height: 20vh;
  /*background-color: #282c34;
  background: rgb(238,174,202);*/

  background: linear-gradient(90deg, rgba(184,219,255,1) 0%, rgba(133,194,255,1) 0%, rgba(0,66,133,1)  100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: #282c34;;
}

.decoreted {
  font-family: 'Rubik One', sans-serif;
  background: #4f4e4e;
  display: table;
  margin: 20px auto;
  color: white;
  mix-blend-mode: multiply;
  padding:  5px 10px;
  border-radius:  5px;
}

.opacity{
  opacity: 0;
}
.btn.btn-dark{
  color: rgba(133,194,255,1) !important;
}

